body {
    background-color: #f6f2e7;
}

header {
    text-align: center;
    font-family: 'Samarkan';
    font-size: 25px;
    padding-top: 20px;
}

.grid-container {
    margin-right: 100px;
    margin-left: 250px;
}

.chai {
    border-radius: 7%;
}

.paneer {
    border-radius: 7%;
}

.sadya {
    border-radius: 7%;
}

img.sadya:hover {
    filter: brightness(70%);
}

img.chai:hover {
    filter: brightness(70%);
}

img.puri:hover {
    filter: brightness(70%);
}

img.biryani:hover {
    filter: brightness(70%);
}

img.chicken:hover {
    filter: brightness(70%);
}

.biryani {
    border-radius: 7%;
}

.naan {
    border-radius: 7%;
    width: 300px;
}

.puri {
    border-radius: 7%;
    width: 300px;
}

.fish {
    border-radius: 7%;
}

.chicken {
    border-radius: 7%;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#overlay article {
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #fff;
    width: 900px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#overlay h2 {
    font-family: "Helvetica";
    font-size: 36px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 50px;
    padding-left: 500px;
}

#overlay p {
    font-family: "Helvetica";
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 10px;
    padding-left: 500px;
}

#overlay img {
    width: 450px;
    height: 600px;
    position: fixed;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}