body {
    background-color: #f6f2e7;
}

header {
    text-align: center;
    font-family: Samarkan;
    font-size: 25px;
    padding-top: 20px;
}

#columns {
    height: 2000px;
    column-width: 250px;
    column-gap: 70px;
    width: 90%;
    max-width: 1250px;
    margin-left: 200px;
}

div #columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 10px 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
}

div #columns figure img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div img {
    border-radius: 7%;
}

div #columns:hover figure:not(:hover) {
    opacity: 0.4;
}

.open {
    display: block;
}

.chai {
    border-radius: 7%;
    grid-area: 1 / 1 / 3 / 2;
}

.paneer {
    border-radius: 7%;
    grid-area: 3 / 2 / 5 / 3;
}

.sadya {
    border-radius: 7%;
    grid-area: 1 / 2 / 3 / 3;
}

img.sadya:hover {
    filter: brightness(70%);
}

img.chai:hover {
    filter: brightness(70%);
}

img.puri:hover {
    filter: brightness(70%);
}

img.biryani:hover {
    filter: brightness(70%);
}

img.chicken:hover {
    filter: brightness(70%);
}

.biryani {
    border-radius: 7%;
    grid-area: 1 / 3 / 3 / 4;
}

.naan {
    border-radius: 7%;
    width: 300px;
    grid-area: 1 / 4 / 2 / 5;
}

.puri {
    border-radius: 7%;
    width: 300px;
    grid-area: 3 / 1 / 4 / 2;
}

.fish {
    border-radius: 7%;
    grid-area: 3 / 3 / 5 / 4;
}

.chicken {
    border-radius: 7%;
    grid-area: 2 / 4 / 4 / 5;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#ol-one {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#ol-one article {
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #fff;
    width: 900px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#ol-one h2 {
    font-family: "Helvetica";
    font-size: 36px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 50px;
    padding-left: 500px;
}

#ol-one p {
    font-family: "Helvetica";
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 10px;
    padding-left: 500px;
}

#ol-one img {
    width: 450px;
    height: 600px;
    position: fixed;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}


/* oltwo styles */

#ol-two {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#ol-two article {
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #fff;
    width: 900px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#ol-two h2 {
    font-family: "Helvetica";
    font-size: 36px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 50px;
    padding-left: 500px;
}

#ol-two p {
    font-family: "Helvetica";
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 10px;
    padding-left: 500px;
}

#ol-two img {
    width: 450px;
    height: 600px;
    position: fixed;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}


/* olthree styles */

#ol-three {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#ol-three article {
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #fff;
    width: 900px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#ol-three h2 {
    font-family: "Helvetica";
    font-size: 36px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 50px;
    padding-left: 500px;
}

#ol-three p {
    font-family: "Helvetica";
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 10px;
    padding-left: 500px;
}

#ol-three img {
    width: 450px;
    height: 600px;
    position: fixed;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}


/* olfour styles */

#ol-four {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#ol-four article {
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #fff;
    width: 1200px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#ol-four h2 {
    font-family: "Helvetica";
    font-size: 36px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 50px;
    padding-left: 650px;
}

#ol-four p {
    font-family: "Helvetica";
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 10px;
    padding-left: 650px;
}

#ol-four img {
    width: 600px;
    height: 450px;
    position: fixed;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}


/* olfive styles */

#ol-five {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#ol-five article {
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #fff;
    width: 900px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#ol-five h2 {
    font-family: "Helvetica";
    font-size: 36px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 50px;
    padding-left: 500px;
}

#ol-five p {
    font-family: "Helvetica";
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 10px;
    padding-left: 500px;
}

#ol-five img {
    width: 450px;
    height: 600px;
    position: fixed;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

@font-face {
    font-family: Samarkan;
    src: url(Samarkan.TTF)
}