body {
    background-image: url("fieldofstars.jpg");
    font-family: 'Syne', sans-serif;
    color: white;
}

nav li {
    display: inline;
    text-align: center;
    padding: 110px;
    font-weight: 700;
    color: #D1FC51;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: relative;
    top: -100px;
    margin-bottom: -150px;
}

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 665px;
    height: 305px;
    background-image: url(images/spacegirl.png);
    background-repeat: no-repeat;
    transition: 5s;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0% {
        background-image: url(images/spacegirl4.png);
    }
    33% {
        background-image: url(images/spacegirl3.png);
    }
    66% {
        background-image: url(images/spacegirl5.png);
    }
    100% {
        background-image: url(images/spacegirl2.png);
    }
}

.portal {
    margin: auto;
    font-size: 45px;
    text-align: center;
}

h1 {
    font-size: 120px;
    font-weight: 800;
    text-align: center
}

h2 {
    position: relative;
    text-align: center;
    font-size: 24px;
    line-height: 1em;
}

ul,
ol {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
}

ol {
    background-color: rgba(146, 87, 141, .6);
    height: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px 100px;
    border-radius: 50px;
}

section {
    font-weight: 500;
    padding: 20px;
    flex: 3;
}

#row {
    display: flex;
    padding: 5px;
    text-align: center;
}

#small {
    font-size: 14px;
}