body {
    background-image: url("fieldofstars.jpg");
    font-family: 'Syne', sans-serif;
    color: #D1FC51;
}

article {
    background-color: rgba(146, 87, 141, .6);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin: 100px 100px;
    border-radius: 50px;
    line-height: 150%;
}

p {
    color: white;
}

h1 {
    padding-top: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    text-align: center
}

#biryani {
    display: block;
    max-width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
}

#dog {
    display: block;
    max-width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
}

figcaption {
    text-align: center;
}