body {
    font-family: 'Syne', sans-serif;
    color: white;
    padding: 50px;
    line-height: 1.5em;
    background-image: url("images/fieldofstars.jpg");
}

header h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 80px;
    margin-top: -20px;
    line-height: 1em;
    text-align: center;
    color: white;
}

button {
    padding: 10px;
}

div {
    padding: 20px;
}

#gamecontrol h2 {
    color: white;
}

#roll {
    position: fixed;
    left: 45%;
    top: 30%;
    background-image: url(images/dices.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 99px;
    width: 143px;
    border: none;
}

button span {
    display: none;
}

#quit {
    position: fixed;
    left: 45%;
    top: 50%;
    background-image: url(images/startover.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 99px;
    width: 143px;
    border: none;
}

#rollagain {
    position: fixed;
    left: 45%;
    top: 30%;
    background-image: url(images/dices.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 99px;
    width: 143px;
    border: none;
}

#pass {
    position: fixed;
    left: 45%;
    top: 40%;
    background-image: url(images/switch.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 99px;
    width: 143px;
    border: none;
}

#score p {
    font-size: 96px;
    position: fixed;
    right: 20%;
    top: 20%;
    font-size: 80px;
    word-spacing: 1000px;
    text-align: center;
}


/* #gamecontrol,
#score {
    background-color: aliceblue;
}

#game {
    background-color: #eaeaea;
}

#actions {
    background-color: silver;
} */